.main {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: -apple-system, sans-serif;
  padding: 90px 0 90px 0;
  background-color: rgb(252, 252, 252);
}

.sub-main {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 35%;
  box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
  border-radius: 50px;
  background-color: rgba(234, 234, 234, 0.83);
}

input {
  width: 300px;
  height: 50px;
  border-radius: 160px;
  border: none;
  outline: none;
  background-color: #fff;
  padding-left: 40px;
}

input:hover {
  background-color: #f7f7f7;
  border: 0.5px solid teal;
}

.second-input {
  padding-top: 20px;
}

button {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  background-color: teal;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

button:hover {
  color: teal;
  background-color: white;
}

.login-btn {
  padding-top: 25px;
}

.link {
  font-size: 22px;
  font-weight: 400;
}

a {
  color: blue;
  text-decoration: none;
}