.sub-main {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 35%;
  box-shadow: 1px 1px 1px 1px rgb(207, 207, 207);
  border-radius: 50px;
  background-color: rgba(234, 234, 234, 0.83);
}

input {
  margin: 15px 5px 15px 5px;
}

h1 {
  padding-bottom: 25px;
}

.link {
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
}
