* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  height: 200px;
  width: 100%;
  background-color: #e9eef6;
  padding-top: 45px;
}

h1 {
  text-align: center;
}

.recipes {
  padding: 10px;
  min-height: calc(100vh - 100px);
  width: 50%;
  margin: 0 auto;
}

.app-div {
  padding: 25px;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 1px solid teal;
}

.initial-btn {
  margin: 0 15px 0 15px;
}

.initial-btn:hover {
  background-color: white;
}

button {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  background-color: teal;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

a {
  color: white;
}